<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Login Screen</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="../style.css">
</head>
<body>



<div class='container'>	
    <img src="../public/assets/images/logo3.svg" alt="Logo" height="300" width="400"></img>
	<header>Lunch Me</header>

	<!--<div class = 'row'>
		<div class = 'col-md-4'>
		</div>
		<div class = 'col-md-4'>-->
			<form>
			  <div class="form-group">
			    <label style="text-align: left">User Name</label>
			    <input type="text" class="form-control" id="userName" placeholder="User Name" style="border-color: #d43f3a; border-radius: 0px">
			  </div>
			  <div class="form-group">
			    <label >Password</label>
			    <input type="password" class="form-control" id="pwd" placeholder="Password" style="border-color: #d43f3a; border-radius: 0px">
			  </div>
			  <button id = "nu-btn-submit" type="" class="btn " style="color: white; background-color: #d9534f; border-color: #d43f3a" >Submit</button>
			</form>
		<!--</div>
		<div class = 'col-md-4'>
		</div>
	</div>-->

</div>



<script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
<script>
    $('#nu-btn-submit').on("click", function(event){
        var userName = $('#userName').val().trim();
        var pwd = $('#pwd').val().trim();

        console.log(userName);
        console.log(pwd);
        
        event.preventDefault();//Prevent Submit from Bootstrap
    });

</script>



</body>
</html>